*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Roboto", sans-serif;
  user-select: none;
}

body {
  background-color: #eef0f2;
  color: #585f66;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#calculator {
  border: 1px solid black;
  background: #eef0f2;
  border: 1px solid #e1dfdf;
  box-sizing: border-box;
  box-shadow: 10px 10px 22px #b5b6b8, -10px -10px 22px rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 20px;
}

#display {
  grid-area: display;
  background: linear-gradient(152.62deg, #ffffff 1.22%, #d6d8da 98.94%);
  box-shadow: inset 5px 10px 22px #b5b6b8,
    inset -10px -10px 22px rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  height: 150px;
  width: 100%;
  overflow: hidden;
}

#first_screen {
  height: 70px;
  padding-right: 20px;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 2em;
}

#second_screen {
  height: 80px;
  padding-right: 20px;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 2.5em;
}

#edit__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

#clear__button,
#delete__button {
  height: 50px;
  width: 170px;
  border-radius: 20px;
  font-weight: bold;
  text-align: center;
  color: #fff4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

#clear__button {
  background: linear-gradient(152.62deg, #ff8989 1.22%, #ff2e2e 98.94%);
  box-shadow: 10px 10px 22px #b5b6b8, -10px -10px 22px rgba(255, 255, 255, 0.5);
}

#clear__button:active {
  box-shadow: 0px 0px 5px #b5b6b8, 0px 0px 5px #ffffff;
  font-size: 0.9em;
}

#delete__button {
  background: linear-gradient(152.62deg, #ffe178 1.22%, #ebbd1b 98.94%);
  box-shadow: 10px 10px 22px #b5b6b8, -10px -10px 22px rgba(255, 255, 255, 0.5);
}

#delete__button:active {
  box-shadow: 0px 0px 5px #b5b6b8, 0px 0px 5px #ffffff;
  font-size: 0.9em;
}

#grid__buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 10px;
}

.grid__button {
  background: linear-gradient(152.62deg, #ffffff 1.22%, #d6d8da 98.94%);
  box-shadow: 10px 10px 22px #b5b6b8, -10px -10px 22px rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 2em;
  color: #585f66;
  cursor: pointer;
  transition: 0.1s all ease-in;
  user-select: none;
}

.grid__button:active {
  background: linear-gradient(152.62deg, #ffffff 1.22%, #d6d8da 98.94%);
  box-shadow: 0px 0px 5px #b5b6b8, 0px 0px 5px #ffffff;
  font-size: 1.8em;
}

.equal_sign_cls {
  background: linear-gradient(152.62deg, #be9fff 1.22%, #8145ff 98.94%);
  box-shadow: 10px 10px 22px #b5b6b8, -10px -10px 22px rgba(255, 255, 255, 0.5);
  color: white;
}

.equal_sign_cls:active {
  background: linear-gradient(152.62deg, #be9fff 1.22%, #8145ff 98.94%);
  box-shadow: 0px 0px 5px #b5b6b8, 0px 0px 5px #ffffff;
}
